:root {
  --main-header-color: linear-gradient(45deg, #ef971e, #ffbc6a);
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  font-family: Sen;
}
header {
  height: 40px;
  padding: 10px;
  width: calc(100% - 20px);
  line-height: 40px;
  display: flex;
  background: var(--main-header-color);
  position: fixed;
  top: 0;
  left: 0;
}
.logo-place {
  width: 150px;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}
.logo-place img {
  width: 100%;
}
.main-content {
  margin-top: 60px;
  width: 100%;
  background: #f3f3f3;
}

.content-page {
  margin: auto;
  padding: 10px;
  width: calc(100% - 20px);
  max-width: 1180px;
}

.content-page section {
  display: flex;
  background: #fff;
}

.part1 {
  padding: 5px;
  width: calc(60% -10px);
}

.part2 {
  padding: 5px;
  width: calc(40% -10px);
}

.part1 img {
  width: 100%;
}

.part2 * {
  margin: 10px 0;
}

.part2 h2 {
  color: #999;
  font-weight: bold;
  font-size: 35px;
}

.part2 h3 {
  color: #d86a6a;
  font-size: 40px;
}

.part2 h4 {
  color: #999;
}

.part2 button {
  border-style: none;
  border-radius: 15px;
  padding: 13px 20px;
  color: #ffffff;
  background: #d86a6a;
  cursor: pointer;
  font-size: 16px;
}

.title-section {
  padding: 10px 0;
  font-size: 30px;
  color: #aaa;
  font-family: Sen;
}
.products-list {
  display: table;
  width: 100%;
}
.product-box {
  display: inline-table;
  padding: 10px;
  width: calc(100% / 5 - 20px);
}
.product-box a {
  text-decoration: none;
}
.product {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 8px 3px #ccc;
  background-color: #fff;
}
.product img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.detail-title {
  text-align: center;
  font-size: 18px;
  color: #999;
  font-weight: bold;
  padding: 5px;
  width: calc(100% - 10px);
  height: 35px;
}
.detail-description {
  text-align: center;
  font-size: 14px;
  color: #999;
  padding: 5px;
  width: calc(100% - 10px);
  height: 34px;
}
.detail-price {
  text-align: center;
  font-size: 25px;
  color: #d86a6a;
  padding: 5px;
  width: calc(100% - 10px);
}
.detail-price span {
  font-size: 15px;
}

#icon-fa {
  color: #ffffff;
}

.header-container {
  display: flex;
  justify-content: space-around;
}

.body-pedidos {
  width: 100%;
}

.item-pedido {
  display: flex;
  border: 1px #ccc solid;
  margin-bottom: 5px;
}

.pedido-img {
  width: 200px;
}

.pedido-img img {
  width: 100%;
}
.pedido-detalle {
  padding: 10px;
  width: calc(100% - 220px);
  background: #fff;
}

button {
  border-style: none;
  border-radius: 15px;
  padding: 13px 20px;
  color: #ffffff;
  background: #d86a6a;
  cursor: pointer;
  font-size: 16px;
}

.pedido-detalle h3,
.pedido-detalle p {
  margin: 5px;
}

.inp-buy {
  width: 150px;
  margin-bottom: 5px;
}

.container-monto {
            display: flex;
            align-items: center;
        }
        .container-monto h2 {
            margin: 10px 0; 
        }

.metodo-pago {
  display: flex;
  width: 100%;
}

input [type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0 5px 5px 5px;
}

.metodo-pago label {
  width: calc(100% - 30px);
}

.content-page h4 {
  margin: 5px 0;
}